// Text colors
$white: #ffffff;
$black: #000000;
$grey: #333333;
$light-grey: #acacac;
$orange: #ff7200;

// Hero colors

$grey-pagenation: #555555;
$orange-pagenation-active: #ff7200;

$orange-title: #ff5800;
// Store banner/cta colors

$orange-cta-title: #f27e21;
$brown-cta-sub-title: #793f10;
