// Font-Family
@import url("https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900&display=swap");

//Intergral Font face
@font-face {
  font-family: 'integral_cfbold';
  src: url('~@/assets/fonts/integral/IntegralCF-Bold.woff2') format('woff2'),
       url('~@/assets/fonts/integral/IntegralCF-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'integral_cfbold_oblique';
  src: url('~@/assets/fonts/integral/IntegralCF-BoldOblique.woff2') format('woff2'),
       url('~@/assets/fonts/integral/IntegralCF-BoldOblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'integral_cfheavy_oblique';
  src: url('~@/assets/fonts/integral/IntegralCF-HeavyOblique.woff2') format('woff2'),
       url('~@/assets/fonts/integral/IntegralCF-HeavyOblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'integral_cfmedium';
  src: url('~@/assets/fonts/integral/IntegralCF-Medium.woff2') format('woff2'),
       url('~@/assets/fonts/integral/IntegralCF-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'integral_cfregular';
  src: url('~@/assets/fonts/integral/IntegralCF-Regular.woff2') format('woff2'),
       url('~@/assets/fonts/integral/IntegralCF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

//helvetica font face 
@font-face {
  font-family: 'helvetica';
  src: url('~@/assets/fonts/helvetica/Helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


// NAV Links
%navLink {
}

@mixin headerLink($color: $white) {
  font-size: 16px;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  color: $color;
}

@mixin footerLink($color: $grey) {
  font-size: 11px;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  color: $color;
}

// Hero

@mixin heroTitle($color: $white) {
  font-size: 80px;
  line-height: 80px;
  font-weight: normal;
  font-family: "integral_cfheavy_oblique", sans-serif;
  color: $color;
}



@mixin heroButton($color: $white) {
  font-size: 20px;
  
  font-family: "integral_cfmedium", sans-serif;
  font-weight: normal;
  color: $color;
}

//Store Banner/CTA

@mixin storeTitle($color: $orange-title) {
  font-size: 80px;
  font-family: "integral_cfheavy_oblique", sans-serif;
  font-weight: normal;
  color: $color;
}

@mixin storeSubTitle($color: $white) {
  font-size: 58px;
  font-family: "integral_cfheavy_oblique", sans-serif;
  font-weight: normal;
  color: $color;
}

@mixin storeSmallText($color: $white) {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: $color;
}

//Products

@mixin productTitle($color: $black) {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  color: $color;
}

  @mixin productPrice($color: $orange-title) {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    color: $color;
  }


//Results 
@mixin resultsHeading($color: $black) {
  font-size: 50px;
  font-family: "integral_cfbold", sans-serif;
  font-weight: 200;
  color: $color;
}

@mixin resultsSubHeading($color: $orange-title) {
  font-size: 21px;
  font-family: "integral_cfmedium", sans-serif;
  font-weight: normal;
  color: $color;
}

@mixin smallText($color: $black) {
  font-size: 16px;
  line-height: 34px;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
  color: $color;
}

@mixin orangeButton($color: $orange-title) {
  font-size: 20px;
  
  font-family: "integral_cfmedium", sans-serif;
  font-weight: normal;
  color: $color;
}